<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Random Etymology Lookup</title>

	<meta name="author" content="livfreeorcry">
	<!-- boostrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="nofollow" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
	<div class="container">
	<div class="header clearfix">
		<nav>
			<ul class="nav nav-pills pull-right">
			<li role="presentation" class="active"><a href="javascript:window.location.reload(true)">Reroll</a></li>
			</ul>
		</nav>
		<h3 class="text-muted">Random Etymology</h3>
	</div>
	<div class="jumbotron">
		<h1>{{ word }}</h1>
		<p class="lead">{{ et }}</p>
		<p><a class="btn btn-lg btn=success" href="https://en.wiktionary.org/wiki/{{ word }}" role="button">Wiktionary</a>  
		<a class="btn btn-lg btn=success" href="https://www.etymonline.com/word/{{ word }}" role="button">Etymonline</a></p>
	</div>
	<div class="row ">
        {{ extract|safe }}
 	</div>
	 	<footer class="footer">
	    <p><a href="https://twitter.com/livfreeorcry">@livfreeorcry</a></p>
		</footer>
 	</div>

 	<!-- jQuery  -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
</body>
</html>